.todo-card-container {
  background: #fff;

  display: inline-block;

  overflow: hidden;
  border-radius: 10px;
  margin: 0.8rem;
  cursor: pointer;

  border-top: 10px solid #ad3cee;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.todo-card-container:hover {
  box-shadow: none;
}

.todo-card-container-header-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-card-container-header-date-text {
  padding: 0rem 1rem;
  flex: 1;
}

.todo-card-container-header-date-text p {
  font-size: 0.9rem;
  color: #132850;
}

.todo-card-container-header-date-text span {
  font-size: 2.5rem;
  font-weight: 700;
  color: #132850;
}

.todo-card-container-header-todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 1rem;
}

.todo-card-container-header-todoType {
  padding: 0.3rem 1.3rem;
  background: #ad3cee;
  color: #fff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.todo-card-container-header-task {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0rem 1rem;
}

.todo-card-container-header-task-headText {
  width: 100%;
}

.todo-card-container-header-task-headText h2 {
  font-size: 2.3rem;
}

.todo-card-container-header-task-subText {
  width: 100%;
}

.todo-card-container-header-task-subText p {
  color: #132850;
  font-size: 0.9rem;
}

.todo-card-container-bodyDesc {
  width: 100%;
  padding: 0.2rem 0rem 1rem 0rem;
}

.todo-card-container-priority {
  width: 100%;
  margin-top: 1rem;
  padding: 0rem 1rem;
}

.todo-card-container-priority p {
  background: #dcffe7;
  width: fit-content;
  color: #11ce4a;
  font-weight: 500;

  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  font-size: 0.9rem;
}

.todo-card-container-description {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}
