.todo-body-container {
  background: #f0f5ff;
  width: 100%;
  margin-top: 1rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;
}

.todo-bdy-container-headText {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.todo-bdy-container-headText::first-letter {
  font-size: 4rem;
  font-weight: 700;
}

.todo-body-container-Wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.todo-body-card-container {
  margin-top: 2rem;

  columns: 3 auto;
  column-gap: 0rem;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .todo-body-container {
    padding: 1rem 0.5rem;
  }
}
